<!DOCTYPE html>
<html>
<head>
	<head>
			<title><%= t(:page_title) %></title>
    		<meta name="Author" content="Link to Solutions, http://link2sol.com">
    		<head profile="http://www.w3.org/2005/10/profile">
			<link rel="icon" type="image/x-icon" href="/favicon.ico" >
			<link rel="shortcut icon" href="/favicon.ico" >
  			<%= stylesheet_link_tag :all %>
  			<%= javascript_include_tag :defaults %>
  			<%= csrf_meta_tag %>
	</head>
</head>
<body>

<%= yield %></body>
<%= render :partial => 'layouts/ga' if RAILS_ENV=='production' %>
</html>